RewriteEngine On

# Force www
RewriteCond %{HTTP_HOST} ^ideas\.ariesmar\.com [NC]
RewriteRule ^(.*)$ https://www.ideas.ariesmar.com/$1 [L,R=301]

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]

# Next.js routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]